h1{
	text-align: center;
	margin: 0;
	padding: 20px;
	color: #fff;
	background-color: #16a085;
}

h3{
	background-color: #1abc9c;
	color: #fff;
	margin: 0;
	padding: 10px;
}

#chapter{
	text-align: center;
}

#clickNav button {
    background-color: #16a085;
    border: none;
    color: white;
    width: 48%;
    margin: 1% .5%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#scripture{
	padding: 20px;
	margin: 1px 10px;
	background-color: #D6D6D6;
}

#scripture span {
	color: #000;
}

nav {
	padding: 1.5%;
}
#goToChapter {
	background-color: #16a085;
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 7%
}

#chapterBox {
	width: 90%;
}

nav input:focus {
	box-shadow: 0 1px 1px rgb(22, 160, 133) inset, 0 0 2px rgb(22, 160, 133);
}

.chapNum {
	font-size: 160%;
	font-weight: bolder;
	font-style: bold;
}

.verseNum {
	font-size: 75%;
	font-style: italic;
}
