h1{
	text-align: center;
	margin: 0;
	padding: 20px;
	color: #fff;
	background-color: #16a085;
}

h3{
	background-color: #1abc9c;
	color: #fff;
	margin: 0;
	padding: 10px;
}

#chapter{
	text-align: center;
}

#clickNav button {
    background-color: #16a085;
    border: none;
    color: white;
    width: 48%;
    margin: 1% .5%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#scripture{
	padding: 20px;
	margin: 1px 10px;
	background-color: #D6D6D6;
}

#scripture span {
<<<<<<< HEAD
	color: #000;
}

nav {
	padding: 1.5%;
}
nav button {
	background-color: #16a085;
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 7%
}

nav input {
	width: 90%;
	color: #bdc3c7;
}

>>>>>>> e5fc2266a242ac9bca11056c05e6bd6c672fb742
